<%
allpage=parseInt(allpage,10);
perpage=parseInt(perpage,10);
nowpage=parseInt(nowpage,10);

if(allpage % perpage){
	pagenum = (allpage - allpage % perpage) / perpage + 1;
}else{
	pagenum = allpage / perpage;
}
side = 2;  //  45[6]78
side_length = side*2; 
%>
<ul class="y_page clearfix" id="<%=pagenum%>">
<% if(nowpage>1){ %>
	<li><a href="<%=pageurl%><%=(nowpage-1)%>">上一页</a></li> 
<% }
begin = nowpage-side>0 ? (nowpage - side) : 1;
end = side_length + begin;
end = end<pagenum ? end : pagenum; 
%>
<% if(begin>=2){ %>
	<li><a href="<%=pageurl%>1">1</a></li>
	<% if(begin>2){ %><li>...</li><% } %>
<% } %>
<% for(i=begin;i<=end;i++){ %>
	<% if(nowpage==i){ %>
		<li class="active"><a href="javascript:void(0)" ><%=i%></a></li>
	<% }else{ %> 
		<li><a href="<%=pageurl%><%=i%>" ><%=i%></a></li>
	<% } %>
<% } %>
<% if(end<pagenum){ %>
	<li>...</li>
	<li><a href="<%=pageurl%><%=pagenum%>" ><%=pagenum%></a></li>
<% } %>
<% if(nowpage< pagenum){ %> 
	<li><a  href="<%=pageurl%><%=(nowpage+1)%>" >下一页</a></li>
<% } %>
</ul>