 <%- include ../menu.ejs %>
<form action="/user/add" method="post" > <%=Func.date('Y-m-d H:i:s',Func.time())%>
    <p>username:<input type="text" name="username" /></p>        <%= Func.str2unicode('<script>convert2  主题是想</script>')  %>
         <%=Func.unicode2str('\3cscript\3econvert2\20\20\u4e3b\u9898\u662f\u60f3\3c/script\3e')  %>
    <p>email:<input type="text" name="email" /></p>
     <p>password:<input type="password" name="password" /></p>
   <p>submit:<input type="submit" value="submit" /></p>

      <input type="text" name="token" value="<%=token%>" />
</form>