 <%- include ../menu.ejs %>
<form action="/user/edit/<%=detail.id%>" method="post" >
    <p>username:<input type="text" name="username" value="<%=detail.username%>" /></p>
    <p>email:<input type="text" name="email" value="<%=detail.email%>" /></p> 
   <p>submit:<input type="submit" value="submit" /></p>

       <input type="text" name="token" value="<%=token%>" />
</form>