
<link rel="stylesheet" href="/javascripts/kindeditor417/themes/default/default.css" />
<script charset="utf-8" src="/javascripts/kindeditor417/kindeditor-min.js"></script>
<script>
	var editor;
	KindEditor.ready(function(K) {
		editor = K.create('textarea[id="html_content"]', {
			uploadJson:'/kindeditor/upload',
			newlineTag : 'p',
			pasteType : 1,
			resizeType :1,
			items:['fullscreen','source','clearhtml','justifyleft','justifycenter','justifyright','justifyfull','bold','italic', 'underline','strikethrough','link','unlink','insertorderedlist', 'insertunorderedlist', 'undo', 'redo', 'subscript', 'superscript','code','image'],
			filterMode : true,
			htmlTags:{
				        font : ['color', 'size', 'face', '.background-color'],
				        span : [
				                '.color', '.background-color', '.font-size', '.font-family', '.background',
				                '.font-weight', '.font-style', '.text-decoration', '.vertical-align', '.line-height'
				        ],
				        div : [
				                'align', '.border', '.margin', '.padding', '.text-align', '.color',
				                '.background-color', '.font-size', '.font-family', '.font-weight', '.background',
				                '.font-style', '.text-decoration', '.vertical-align', '.margin-left'
				        ],
				        table: [
				                'border', 'cellspacing', 'cellpadding', 'width', 'height', 'align', 'bordercolor',
				                '.padding', '.margin', '.border', 'bgcolor', '.text-align', '.color', '.background-color',
				                '.font-size', '.font-family', '.font-weight', '.font-style', '.text-decoration', '.background',
				                '.width', '.height', '.border-collapse'
				        ],
				        'td,th': [
				                'align', 'valign', 'width', 'height', 'colspan', 'rowspan', 'bgcolor',
				                '.text-align', '.color', '.background-color', '.font-size', '.font-family', '.font-weight',
				                '.font-style', '.text-decoration', '.vertical-align', '.background', '.border'
				        ],
				        a : ['href', 'target', 'name'],
				        embed : ['src', 'width', 'height', 'type', 'loop', 'autostart', 'quality', '.width', '.height', 'align', 'allowscriptaccess'],
				        img : ['src', 'width', 'height', 'border', 'alt', 'title', 'align', '.width', '.height', '.border'],
				        'p,ol,ul,li,blockquote,h1,h2,h3,h4,h5,h6' : [
				                'align', '.text-align', '.color', '.background-color', '.font-size', '.font-family', '.background',
				                '.font-weight', '.font-style', '.text-decoration', '.vertical-align', '.text-indent', '.margin-left'
				        ],
				        pre : ['class'],
				        hr : ['class', '.page-break-after'],
				        'br,tbody,tr,strong,b,sub,sup,em,i,u,strike,s,del' : []
				},
		});
	});
</script>


<form action="/editor"  method="post"  > 
    	<p> <textarea name="html_content" id="html_content" style="width:900px;height:600px;"></textarea></p>
   		<p>submit:<input type="submit" value="submit" /></p>
        <p>token:<input type="text" name="token" value="<%=token%>" /></p>
</form>
  
