  <%- include ../menu.ejs %>
  
  <%=message%>

<form action="/login" method="post" > 
    <p>email:<input type="text" name="email" /></p>
     <p>password:<input type="password" name="password" /></p>
   <p>submit:<input type="submit" value="submit" /></p>
         <p>token:<input type="text" name="token" value="<%=token%>" /> </p>      
           <p>content allow html <input type="text" name="html" value="" /></p>
</form>
  
