 

<form action="/upload"  method="post" enctype="multipart/form-data"  > 
    <p> <input type="file"  name="image" /> </p>
   <p>submit:<input type="submit" value="submit" /></p>
         <p>token:<input type="text" name="token" value="<%=token%>" /> </p>     
</form>
  

resize<br ><br ><br >

<form action="/upload/resize"  method="post" enctype="multipart/form-data"  > 
    <p> <input type="file"  name="image" /> </p>
   <p>submit:<input type="submit" value="submit" /></p>
         <p>token:<input type="text" name="token" value="<%=token%>" /> </p>     
</form>
